@charset "utf-8";
@font-face {
    font-family: Raleway;
    src: url(../../fonts/Raleway/Raleway-Regular.ttf);
 }
@font-face {
	font-family: Comfortaa;
	src: url(../../fonts/Comfortaa/Comfortaa-Regular.ttf);
}
@font-face {
	font-family: Play;
	src: url(../../fonts/Play/Play-Regular.ttf);
}
body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-width: 1000px;
	background-image: url(../../image/background/6853801-white-wood-panel-wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
}

/*header*/
header {
	animation-name: header_show;
	animation-duration: 1.4s;
	animation-fill-mode: forwards;
	position: fixed;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 99%;
	min-width: 1000px;
	background: #00A2BC;
	box-shadow: 0px 3px 15px 1px;
	z-index: 5;
}
header>button {
	position: relative;
	height: 50px;
	width: 140px;
	border: none;
	background: #FFFFFF;
	padding: 2px 5px;
	font-family: Comfortaa;
	font-size: 12px;
}
header>button>p {
	height: 47px;
	padding-top: 16px;
	box-sizing: border-box;
}
.exit {
	float: left;
}
.go_to_start {
	float: left;
	width: 150px;
	height: 100%;
	background: none;
	border: none;
	padding-top: 5px;
	text-align: center;
	color: #FFFFFF;
	font-family: Comfortaa;
	font-size: 14px;
	box-sizing: border-box;
}
.go_to_start:hover {
	text-shadow: 0px 0px 5px;
}
.profile, .grade {
	float: right;
	margin-left: 1px;
}
.user {
	float: right;
	width: 250px;
	height: 50px;
}
.user>img {
	float: left;
	height: 42px;
	border-radius: 30px;
	margin: 4px 0px 0px 10px;
}
.user>p {
	float: right;
	height: 100%;
	width: 185px;
	margin-right: 5px;
	padding: 19px 0px 0px 5px;
	color: #FFFFFF;
	font-family: Comfortaa;
	font-size: 12px;
}

/*profileBox*/
.profileBox {
	float: right;
}
.profileBox_content {
	display: none;
	position: fixed;
	height: 410px;
	width: 384px;
	background: #00A2BC;
	margin-right: 100px;
	border-radius: 5px;
	padding: 10px;
	top: 70px;
	box-shadow: 0px 3px 15px 1px;
	box-sizing: border-box;
}
.profileBox_content>form>.h1 {
	height: 50px;
	text-align: left;
	color: #FFFFFF;
	font-size: 24px;
	padding: 0px 10px 0px 3px;
	margin: 0px;
	box-sizing: border-box;
}
.changeData {
	height: 25px;
	border: 2px solid #FFFFFF;
	margin-bottom: 20px;
}
.changeData>p {
	float: left;
	color: #FFFFFF;
	height: 100%;
	padding: 0px 0px 5px 5px;
	box-sizing: border-box;
}
.changeData>input {
	float: right;
	border: none;
	margin: 2px;
	height: 17px;
	width: 200px;
}
.socialData {
	height: 25px;
	margin-bottom: 20px;
	border: none;
	box-shadow: -0px 1px 5px 1px;
	border-radius: 10px;
}
.social_img {
	float: left;
	height: 21px;
	width: 21px;
	background-image: url(../../image/_notes/EikotFYn_iI.jpg);
	background-size: 170px;
	border-radius: 10px;
	margin: 2px 0px 0px 3px;
}
.socialData>input {
	float: right;
	border: none;
	margin: 4px;
	height: 17px;
	width: 200px;
	border-radius: 7px;
	box-sizing: border-box;
}
.socialData>p {
	float: left;
	color: #FFFFFF;
	height: 100%;
	padding: 5px 0px 0px 5px;
	box-sizing: border-box;
}
.vk_img {
	background-position: -18px -46px;
}
.ok_img {
	background-size: 221px;
	background-position: -180px -63px;
}
.fb_img {
	background-size: 221px;
	background-position: -142px -21px;
}
.length, .correct {
	border: 2px solid #FF5A5D;
}
.profileBox_content>form>input {
	float: left;
	border: none;
	border-radius: 3px;
	height: 25px;
	width: 100px;
	margin: 0px;
	padding-bottom: 0px;
	font-family: Raleway;
	text-align: center;
	box-sizing: border-box;
}
.profileBox_content>form>.save_changes {
	display: none;
	float: left;
	margin: 3px 0px 0px 15px;
	color: #B2FF63;
	font-family: Comfortaa;
}

/*progressBox*/
.progressBox {
	float: right;
	margin-right: 250px;
}
.progressBox_content {
	display: none;
	position: fixed;
	height: 335px;
	width: 382px;
	background: #00A2BC;
	border-radius: 5px;
	padding: 10px;
	top: 70px;
	box-shadow: 0px 3px 15px 1px;
	box-sizing: border-box;
	z-index: 100;
}
.progressBox_content>h1 {
	height: 50px;
	margin: 0px;
	padding: 0px 10px 0px 3px;
	text-align: left;
	color: #FFFFFF;
	font-size: 24px;
	font-family: Comfortaa;
	box-sizing: border-box;
}
.progressBox_content td {
	height: 30px;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	color: #FFFFFF;
	padding: 10px 0px 0px 15px;
	font-size: 14px;
}
.progressBox_content td:nth-child(1) {
	width: 260px;
	font-family: Comfortaa;
}
.progressBox_content td:nth-child(2) {
	width: 100px;
	font-family: Play;
}

/*start*/
.start {
	height: 495px;
	width: 700px;
	background: rgba(255,255,255,0.70);
	margin-top: 70px;
}
.start>.start_button {
	width: 600px;
	height: 200px;
	border: none;
	margin: 0px 0px 15px 50px;
	color: #FFFFFF;
	font-size: 20px;
}
.start>.login_in {
	background-image: url(../../image/background/Key-Macro-On-The-Door-Wallpaper-Full-HD.jpg);
	background-size: 100%;
	background-position: 0px -10px;
	margin-top: 40px;
}
.start>.sign_up {
	background-image: url(../../image/background/Entrance-Door-1920x1200-wide-wallpapers.net.jpg);
	background-size: 100%;
	background-position: -5px -20px;
}

/*animation*/
.height_change {
	animation-name: height_change;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.height_change_back {
	animation-name: height_change_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing1 {
	animation-name: increasing1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing2 {
	animation-name: increasing2;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing3 {
	animation-name: increasing3;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing4 {
	animation-name: increasing4;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing5 {
	animation-name: increasing5;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing6 {
	animation-name: increasing6;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing7 {
	animation-name: increasing7;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing8 {
	animation-name: increasing8;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing9 {
	animation-name: increasing9;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing10 {
	animation-name: increasing10;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing11 {
	animation-name: increasing11;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing12 {
	animation-name: increasing12;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing1_back {
	animation-name: increasing1_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing2_back {
	animation-name: increasing2_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing3_back {
	animation-name: increasing3_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing4_back {
	animation-name: increasing4_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing5_back {
	animation-name: increasing5_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing6_back {
	animation-name: increasing6_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing7_back {
	animation-name: increasing7_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing8_back {
	animation-name: increasing8_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing9_back {
	animation-name: increasing9_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing10_back {
	animation-name: increasing10_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing11_back {
	animation-name: increasing11_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.background_increasing12_back {
	animation-name: increasing12_back;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.courses_show {
	animation-name: courses_show;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
.courses_hidden {
	animation-name: courses_hidden;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

/*форма входа и регистрации*/
.profileData {
	width: 500px;
	background: none;
	border: 2px solid #6B6B6B;
	box-sizing: border-box;
	margin: 40px 0px 0px 100px;
}
.profileData p {
	margin: 10px 0px 12px 0px;
	color: #414141;
	font-size: 20px;
	text-align: center;
	font-family: Raleway;
}
.profileData input {
	height: 40px;
	width: 100%;
	background: none;
	border: none;
	border-top: 2px solid #6B6B6B;
	box-sizing: border-box;
	padding-left: 20px;
	font-size: 20px;
	font-family: Raleway;
}
.sign_up_form>.profileData>p{
	float: left;
	width: 40%;
	margin-top: 7px;
}
.sign_up_form>.profileData>input {
	width: 60%;
	border-top: none;
	border-left:  2px solid #6B6B6B
}
.warning {
	position: absolute;
	width: 500px;
}
.warning p {
	display: none;
	margin: 0px 5px 0px 110px;
	font-size: 14px;
	color: #AB0002;
}
.press_enter {
	margin-top: 20px;
	font-family: Comfortaa;
	text-align: center;
}
.back {
	width: 500px;
	height: 70px;
	border: none;
	background-image: url(../../image/background/exit-sign-wide-wallpaper-27788.jpg);
	background-position: -250px -80px;
	background-size: 150%;
	margin: 50px 0px 0px 100px;
	font-family: Raleway;
	font-size: 18px;
	color: #FFFFFF;
}

/*выбор курсов*/
.courses {
	display: none;
	opacity: 0;
	position: relative;
	width: 580px;
	height: 400px;
	margin: 100px 20px 0px 20px;
	background: rgba(255,255,255,0.70);
}
.courses:hover {
	box-shadow: 0px 0px 5px 3px #00EBFF;
}
.courses h1 {
	display: block;
	background: rgba(154,154,154,0.70);
	padding: 10px;
	margin: 0px;
	width: 100%;
	height: 35px;
	color: #FFFFFF;
	font-family: Comfortaa;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}
.courses p {
	float: right;
	height: 100%;
	width: 55%;
	padding: 10px 25px;
	font-size: 18px;
	font-family: Raleway;
	line-height: 1.7;
	color: #6B6B6B;
	box-sizing: border-box;
}
.course_poster {
	float: left;
	width: 45%;
	height: 365px;
}
.poster_1 {
	background-image: url(../../image/background/1-24.jpg);
	background-size: 220%;
	background-position: -100px 0px;
}
.poster_2 {
	background-image: url(../../image/background/2017-06-01_19-39-08.png);
	background-size: 190%;
	background-position: -5px 0px;
}
.poster_3 {
	background-image: url(../../image/background/bigstock-network-hub-and-patch-cables-12234593.jpg);
	background-size: 300%;
	background-position: -120px 0px;
}
.poster_4 {
	background-image: url(../../image/background/680px-PLb0.png);
	background-size: 250%;
	background-position: -120px 0px;
}
.poster_5 {
	background-image: url(../../image/background/2015-09-mitchell-blog-top-image.jpg);
	background-size: 260%;
	background-position: -100px 0px;
}
.poster_6 {
	background-image: url(../../image/background/cisco-3560.jpg);
	background-size: 270%;
	background-position: 0px 0px;
}
.poster_7 {
	background-image: url(../../image/background/internet-safety.jpg);
	background-size: 230%;
	background-position: -100px 0px;
}
.poster_8 {
	background-image: url(../../image/background/file0001628037487.jpg);
	background-size: 200%;
	background-position: -50px 0px;
}

/*courses pages*/
.test_pages, .course_theory {
	width: 1000px;
	height: 550px;
	padding: 0px 40px;
	background: rgba(255,255,255,0.70);
	margin-top: 120px;
	box-sizing: border-box;
}
.test_pages>h1, .course_theory>h1 {
	height: 70px;
	padding: 30px 0px 0px 30px;
	margin-bottom: 20px;
	border-bottom: 3px solid #6B6B6B;
	color: #6B6B6B;
	font-family: Comfortaa;
	font-size: 26px;
	box-sizing: border-box;
}
.context {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	border: 4px solid #6B6B6B;
}
.right, .left, .no_left, .no_right {
	height: 100%;
	width: 90px;
	padding: 8px 10px;
	font-size: 70px;
	color: #6B6B6B;
}
.right:hover, .left:hover {
	padding: 10px 12px;
	text-shadow: 0px 3px 10px rgba(0,0,0,1.00);
}
.context>p {
	width: 740px;
	padding-top: 10px;
	font-family: Comfortaa;
	font-size: 20px;
	color: #6B6B6B;
	text-align: center;
	box-sizing: border-box;
}
.variant {
	background: rgba(255,255,255,1.00);
}
.variant label {
	display: inline-block;
	width: 100%;
	padding: 20px 20px;
	box-sizing: border-box;
}
.variant label:hover {
	box-shadow: 0px 0px 5px 1px;
}
.variant p {
	display: inline;
	font-family: Comfortaa;
}
.variant input {
	display: none;
	height: 13px;
}
.submit_test {
	height: 200px;
	width: 700px;
	border: none;
	background-image: url(../../image/background/blue-Mailbox-HD-Wallpapers.jpg);
	background-size: 110%;
	background-position: 0px 0px;
	margin: 50px 100px; 
	font-size: 20px;
	color: #FFFFFF;
}
.your_grade {
	margin: 200px 0px;
	padding-top: 10px;
	box-sizing: border-box;
	border: 2px solid #6B6B6B;
}
.your_grade p {
	color: #6B6B6B;
	text-align: center;
	font-family: Comfortaa;
	font-size: 24px;
}
.course_theory {
	background: rgba(255,255,255,0.90);
}
.head_page {
	height: 50px;
	width: 920px;
	margin-bottom: 20px;
}
.head_page>.glyphicon-chevron-left, .head_page>p {
	float: left;
}
.head_page>.glyphicon-chevron-right {
	float: right;
}
.head_page>div {
	width: 50px;
	padding: 7px 0px 0px 10px;
	font-size: 30px;
	box-sizing: border-box;
	color: #6B6B6B;
}
.head_page>div:hover {
	padding: 10px 12px;
	text-shadow: 0px 3px 10px;
}
.head_page>p {
	width: 820px;
	margin-top: 5px;
	font-family: Comfortaa;
	font-size: 30px;
	text-align: center;
	color: #6B6B6B;
}
.theory_page>p, .theory_page li{
	font-family: Comfortaa;
	font-size: 20px;
}
.theory_page li{
	margin-left: 50px;
	text-indent: -10px;
}
.start_test_2 {
	height: 200px;
	width: 400px;
	margin-top: 100px;
}
.command {
	color: #7000C4;
}